/* FORMATAÇÃO GERAL */

body{
    font-size: arial;
    margin-bottom: 50px;
}

h1{
    background-color: rgb(10, 177, 177);
    height: 50px;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 30px;
}

h2{
    color: rgb(10, 177, 177);
    text-align: left;
    margin-bottom: 0px;
}

h3{
    color: rgb(10, 177, 177);
    text-align: left;
    margin-bottom: 0px;
}

h4{
    margin-bottom: 0px;
}

.tudo{
    width: 60%;
    border: solid 1px #000;
    text-align: center;
    margin: 0 auto;
    padding: 30px 30px 30px 30px;
    clear: both;
}

.linha{
    clear: both;
}

/* CABEÇALHO */

#foto{
    width: 25%;
    float: left;
    margin-bottom: 10px;
}

#imgFoto{
    max-width: 150px;
    max-height: 150px;
    border-radius: 100%;
}

#contato{
    width: 75%;
    float: left;
    text-align: left;
    font-size: 22px;
    vertical-align: middle;
}

.tituloContato{
    color: rgb(10, 177, 177);
}

/* DADOS PROFISSIONAIS */

#objetivos{
    text-align: justify;
    margin: 2%;
}

.formacao{
    text-align: justify;
    margin: 2%;
}

#coluna1{
    text-align: justify;
    float: left;
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
}

#coluna2{
    text-align: justify;
    float: left;
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
}